{% extends "base.html" %}
{% block content %}

<h2>Menu Management</h2>

<a href="{{ url_for('add_menu') }}">
  <button>Add Menu</button>
</a>

<div class="menu-grid">

  {% for m in menus %}
  <div class="menu-card">

    <h4>{{ m.item }}</h4>
    <p>{{ m.category }}</p>
    <p><strong>{{ "Rp {:,}".format(m.price|int).replace(',', '.') }}</strong></p>

    <div style="margin-top:10px;">
      <a href="{{ url_for('edit_menu', menu_id=m.id) }}">
        <button>Edit</button>
      </a>

      <form action="{{ url_for('delete_menu', menu_id=m.id) }}" method="POST" style="display:inline;">
        <button type="submit">Delete</button>
      </form>
    </div>

  </div>
  {% endfor %}

</div>

{% endblock %}